body{
    background-color: #13293d;
    color: #8cffda;
}

a {
   color: #ffb400;
}

img { border-radius: 10% 30% 30% 30%;
    }
.name {
   font-family: "Exo", sans-seriff; 
   font-size: 72px;
   color: #228cdb;
   text-align: center;
}
.about{
   font-family: "Exo", sans-seriff;
}

.Description {
   
}

.bplace {
   font-style: italic;
}

.place {
   font-style: italic;

}
.conhecimentos_atuais {
   font-family: "Exo", sans-seriff
}
.habilidades_futuras{
   font-family: "Exo", sans-seriff
}
.know_a_lot{
   font-size: 23px;
}
.know{
   font-size: 19px;
}
.just_learned{
   font-size: 13px;
}


.about {
    display: inline-block;
    border-style: solid;
    width: 500px;
    
 }

.picture {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    background-color: #228cdb;
}
 .pic-description {
    display: inline-block;
    text-align: center;
}

.contact {
    margin: 1px 1px 1px 1px;
    width: 135px;
    height: 15px;
    padding: 10px 10px 10px 10px;
    background-color: #ffb400;
}

.contato {
    margin: auto;
}

.knowledge ul li:nth-child(odd) {
    color: #ef476f;
}